//----COLORS
/////////////////////////////////////////////////////////////////////
$orange: #cf5e12;
$darkOrange: #7a1d09;
$orangeHighlight: #e67224;
$blue: #acc9c7;
$darkBlue: #5a6d69;
$darkBlueHighlight: #73908a;
$grey: #f3f3f3;
// original $darkGrey: #e6e5e0;
$darkGrey: #e5e5e5;
$textGrey: #74736e;

//----SPACING
/////////////////////////////////////////////////////////////////////
$spacing1: 70px;
$spacing2: 50px;