html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, textarea, input, button, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none; }

input, textarea {
  display: block; }

body {
  background: #f3f3f3;
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 11pt;
  letter-spacing: .05em;
  line-height: 170%;
  color: #74736e;
  padding-top: 65px;
  -webkit-font-smoothing: antialiased; }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

h1 {
  display: inline-block;
  font-size: 20pt;
  letter-spacing: .1em;
  padding-bottom: 8px;
  margin-bottom: 50px;
  border-bottom: 1px solid #74736e;
  text-transform: uppercase; }

h2 {
  font-size: 16pt;
  font-weight: 600;
  margin-bottom: 1em;
  letter-spacing: .1em; }

#header {
  position: fixed;
  background: #cf5e12;
  top: 0;
  width: 100%;
  height: 65px;
  overflow: auto;
  z-index: 1; }

#logo {
  float: left;
  position: relative;
  top: 16px;
  left: 45px; }

#nav {
  float: right;
  position: relative;
  right: 45px;
  line-height: 65px;
  text-transform: uppercase; }
  #nav a {
    color: white;
    font-size: 10.4pt;
    font-weight: 700;
    letter-spacing: .3em;
    margin-left: 15px;
    padding: 20px 20px;
    -webkit-transition: color 0.2s 0s ease;
    -moz-transition: color 0.2s 0s ease;
    -o-transition: color 0.2s 0s ease;
    transition: color 0.2s 0s ease; }
  #nav .current {
    color: #7a1d09; }
  #nav a:hover {
    color: #7a1d09; }

section {
  padding: 70px 0; }

.wrapper {
  margin: 0 auto;
  padding: 0 40px;
  width: 960px; }

a.bigButton {
  background: #cf5e12;
  display: table;
  color: white;
  font-size: 14pt;
  font-weight: 700;
  letter-spacing: .2em;
  text-transform: uppercase;
  line-height: 70px;
  padding: 0 30px;
  margin: 55px auto 0 auto;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-transition: all 0.2s 0s ease;
  -moz-transition: all 0.2s 0s ease;
  -o-transition: all 0.2s 0s ease;
  transition: all 0.2s 0s ease; }
  a.bigButton span {
    width: 26px;
    height: 26px;
    display: inline-block;
    position: relative;
    top: 6px;
    margin-right: 15px;
    background: url(../images/sprite_sheet.png) no-repeat;
    background-position: -325px -140px; }

a.bigButton:hover, .button:hover {
  background: #e67224; }

.button {
  background: #cf5e12;
  display: table;
  color: white;
  text-transform: uppercase;
  font-size: 12pt;
  font-weight: 700;
  letter-spacing: .2em;
  line-height: 50px;
  padding: 0 30px;
  margin: 0 auto;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-transition: all 0.2s 0s ease;
  -moz-transition: all 0.2s 0s ease;
  -o-transition: all 0.2s 0s ease;
  transition: all 0.2s 0s ease; }
  .button span {
    display: inline-block;
    margin-left: 15px;
    width: 10px;
    height: 11px;
    background: url(../images/sprite_sheet.png) no-repeat;
    background-position: -365px -164px; }

#heroImage {
  width: 100%;
  height: 550px;
  background-image: url(../images/heroImage.jpg);
  background-size: cover;
  background-position: no-repeat top center;
  overflow: auto; }

.workHero, #weddingsHero {
  position: relative;
  width: 100%;
  height: 450px;
  overflow: hidden; }

#weddingsHero {
  background-size: cover;
  background-position: center; }

.playButton {
  display: block;
  width: 85px;
  height: 85px;
  margin: 40px auto 0 auto;
  text-indent: 100%;
  overflow: hidden;
  background: url(../images/sprite_sheet.png);
  background-position: -240px -140px;
  opacity: 1;
  -webkit-transition: all 100ms 0s ease;
  -moz-transition: all 100ms 0s ease;
  -o-transition: all 100ms 0s ease;
  transition: all 100ms 0s ease; }

.playButton:hover {
  opacity: .8; }

#projectHero {
  position: absolute;
  width: 100%;
  min-width: 960px;
  top: 0;
  z-index: -1; }

#weddingsHero {
  background-image: url(../images/weddingsHero.jpg); }

#mainTitle, #workTitle {
  color: white;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center; }

#mainTitle {
  font-size: 34pt;
  margin-top: 170px;
  line-height: 150%;
  letter-spacing: .2em; }

#workTitle {
  font-size: 32pt;
  margin-top: 140px;
  line-height: 130%;
  letter-spacing: .15em; }

section#intro {
  background: #e5e5e5;
  text-align: center; }
  section#intro .wrapper {
    max-width: 825px; }

section#projectDetails {
  background: #e5e5e5; }
  section#projectDetails .description {
    width: 550px;
    float: left; }
  section#projectDetails .credits {
    width: 386px;
    float: right; }
  section#projectDetails .title {
    font-size: 20pt;
    letter-spacing: .1em;
    text-transform: uppercase;
    margin-bottom: 20px; }

#promotionLinks {
  height: 15px;
  border-bottom: 1px solid #74736e;
  width: 100%;
  margin-bottom: 70px; }

#likeLinks {
  margin-top: 25px; }
  #likeLinks .twitter-share-button, #likeLinks .fb-like {
    margin-right: 15px; }
  #likeLinks .fb-like {
    position: relative;
    top: -4px; }

#contactSocialLinks {
  margin: 50px auto 0 auto; }
  #contactSocialLinks a + a {
    margin-left: 30px; }

#promotionLinksContainer {
  background: #e5e5e5;
  padding: 0 15px;
  margin: 0 auto; }
  #promotionLinksContainer a + a {
    margin-left: 25px; }

#promotionLinksContainer, #contactSocialLinks {
  display: table; }
  #promotionLinksContainer a, #contactSocialLinks a {
    display: block;
    float: left;
    position: relative;
    width: 30px;
    height: 30px; }
  #promotionLinksContainer span, #contactSocialLinks span {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0; }
  #promotionLinksContainer span:hover, #contactSocialLinks span:hover {
    opacity: 1;
    -webkit-transition: opacity 0.2s 0s ease;
    -moz-transition: opacity 0.2s 0s ease;
    -o-transition: opacity 0.2s 0s ease;
    transition: opacity 0.2s 0s ease; }
  #promotionLinksContainer .twitter, #promotionLinksContainer .facebook, #promotionLinksContainer .pintrest, #promotionLinksContainer .vimeo, #promotionLinksContainer .instagram, #promotionLinksContainer span, #contactSocialLinks .twitter, #contactSocialLinks .facebook, #contactSocialLinks .pintrest, #contactSocialLinks .vimeo, #contactSocialLinks .instagram, #contactSocialLinks span {
    background: url(../images/sprite_sheet.png); }
  #promotionLinksContainer .twitter, #contactSocialLinks .twitter {
    background-position: -90px -170px; }
    #promotionLinksContainer .twitter span, #contactSocialLinks .twitter span {
      background-position: -90px -140px; }
  #promotionLinksContainer .facebook, #contactSocialLinks .facebook {
    background-position: -30px -170px; }
    #promotionLinksContainer .facebook span, #contactSocialLinks .facebook span {
      background-position: -30px -140px; }
  #promotionLinksContainer .pintrest, #contactSocialLinks .pintrest {
    background-position: 0px -170px; }
    #promotionLinksContainer .pintrest span, #contactSocialLinks .pintrest span {
      background-position: 0px -140px; }
  #promotionLinksContainer .vimeo, #contactSocialLinks .vimeo {
    background-position: -120px -170px; }
    #promotionLinksContainer .vimeo span, #contactSocialLinks .vimeo span {
      background-position: -120px -140px; }
  #promotionLinksContainer .instagram, #contactSocialLinks .instagram {
    background-position: -60px -170px; }
    #promotionLinksContainer .instagram span, #contactSocialLinks .instagram span {
      background-position: -60px -140px; }

section#productionImages {
  background: #f3f3f3;
  text-align: center; }
  section#productionImages iframe {
    display: block;
    margin: 0 auto 70px auto; }
  section#productionImages #container {
    width: 960px;
    margin: 0 auto; }

section#contactDetails {
  background: #f3f3f3; }

#contactDetailsContainer {
  display: table;
  margin: 0 auto; }
  #contactDetailsContainer a {
    color: #74736e;
    -webkit-transition: color 0.2s 0s ease;
    -moz-transition: color 0.2s 0s ease;
    -o-transition: color 0.2s 0s ease;
    transition: color 0.2s 0s ease; }
  #contactDetailsContainer a:hover {
    color: #cf5e12; }

#contactPhone, #contactEmail, #contactLocation {
  display: inline-block;
  position: relative;
  text-align: center;
  font-size: 15pt;
  letter-spacing: .1em;
  line-height: 150%; }
  #contactPhone .icon, #contactEmail .icon, #contactLocation .icon {
    display: inline-block;
    position: relative;
    margin-right: 15px;
    background: url(../images/sprite_sheet.png) no-repeat; }

#contactPhone .icon {
  top: 4px;
  width: 16px;
  height: 22px;
  background-position: -325px -186px; }

#contactEmail {
  margin: 0 50px; }
  #contactEmail .icon {
    width: 20px;
    height: 14px;
    background-position: -341px -186px; }

#contactLocation .icon {
  top: 4px;
  width: 15px;
  height: 21px;
  background-position: -361px -186px; }

#contactEmail, #contactPhone {
  bottom: 13px; }

section#contactQuotes {
  background: #acc9c7;
  text-align: center;
  color: #5a6d69; }
  section#contactQuotes h1 {
    border-color: #5a6d69; }
  section#contactQuotes .row {
    max-width: 840px;
    margin: 0 auto;
    overflow: auto;
    margin-bottom: 50px; }
  section#contactQuotes #last {
    margin-bottom: 0px; }
  section#contactQuotes .quote {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    float: left;
    width: 420px;
    padding: 0 30px;
    text-align: left;
    font-style: italic; }
    section#contactQuotes .quote .name {
      display: block;
      font-weight: 700;
      text-align: right; }

section#bookingInfo {
  text-align: center;
  background: #e5e5e5; }
  section#bookingInfo .wrapper {
    overflow: auto;
    padding: 0; }
  section#bookingInfo .text {
    text-align: left;
    float: left;
    width: 468px; }
  section#bookingInfo ul {
    margin: 30px 0;
    list-style-type: disc;
    list-style-position: inside; }
  section#bookingInfo .important {
    font-weight: 700; }
  section#bookingInfo a {
    color: #74736e; }
  section#bookingInfo a:hover {
    color: #cf5e12; }

.leadIn {
  font-size: 15pt;
  font-weight: 600;
  line-height: 160%;
  margin-bottom: 30px; }

#contactForm {
  text-align: left;
  float: right; }
  #contactForm input, #contactForm textarea {
    color: #74736e;
    background-color: #f3f3f3;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 450px;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-transition: background 0.2s 0s ease;
    -moz-transition: background 0.2s 0s ease;
    -o-transition: background 0.2s 0s ease;
    transition: background 0.2s 0s ease; }
  #contactForm input {
    height: 40px; }
  #contactForm textarea {
    resize: none; }
  #contactForm input:focus, #contactForm textarea:focus {
    outline: none;
    background: white; }
  #contactForm .button {
    width: 450px;
    cursor: pointer; }

section#weddingCallout {
  background: #f3f3f3; }

section#featuredWork {
  background: #f3f3f3;
  text-align: center; }
  section#featuredWork .wrapper {
    margin-bottom: 50px;
    overflow: auto; }

section#work {
  background: #f3f3f3;
  text-align: center; }
  section#work .wrapper {
    overflow: auto; }

.workThumb, .productionThumb {
  position: relative;
  width: 320px;
  float: left;
  color: white;
  text-transform: uppercase;
  letter-spacing: .2em; }
  .workThumb img, .productionThumb img {
    display: block; }

.overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(207, 94, 18, 0.8);
  opacity: 0;
  -webkit-transition: all 0.2s 0s ease;
  -moz-transition: all 0.2s 0s ease;
  -o-transition: all 0.2s 0s ease;
  transition: all 0.2s 0s ease; }
  .overlay .text, .overlay .more, .overlay .couple {
    position: relative;
    text-align: center;
    opacity: 0;
    -webkit-transition: all 0.5s 0s ease;
    -moz-transition: all 0.5s 0s ease;
    -o-transition: all 0.5s 0s ease;
    transition: all 0.5s 0s ease; }
  .overlay .text {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    top: 42%;
    padding: 0 20px; }
  .overlay .more {
    display: inline-block;
    top: 49%;
    width: 24px;
    height: 24px;
    background: url(../images/sprite_sheet.png) no-repeat;
    background-position: -351px -140px; }
  .overlay .couple {
    top: 49%; }
  .overlay .client, .overlay .couple {
    font-weight: 700;
    font-size: 14pt; }
  .overlay .title {
    margin-top: 8px;
    font-weight: 600; }

.overlay:hover {
  opacity: 1; }

.overlay:hover .text, .overlay:hover .more, .overlay:hover .couple {
  -webkit-transform: translate(0, -10px);
  -moz-transform: translate(0, -10px);
  -o-transform: translate(0, -10px);
  transform: translate(0, -10px);
  opacity: 1; }

#projButtonPrev, #projButtonNext {
  position: fixed;
  top: 260px;
  height: 50px;
  background: #acc9c7;
  display: table;
  color: white;
  text-transform: uppercase;
  font-size: 12pt;
  font-weight: 700;
  letter-spacing: .2em;
  line-height: 50px;
  -webkit-transition: all 0.2s 100ms ease;
  -moz-transition: all 0.2s 100ms ease;
  -o-transition: all 0.2s 100ms ease;
  transition: all 0.2s 100ms ease; }
  #projButtonPrev span, #projButtonNext span {
    display: inline-block;
    position: absolute;
    width: 13px;
    height: 20px;
    top: 15px; }

#projButtonPrev:hover, #projButtonNext:hover {
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0); }

#projButtonPrev {
  -webkit-transform: translate(-239px, 0);
  -moz-transform: translate(-239px, 0);
  -o-transform: translate(-239px, 0);
  transform: translate(-239px, 0);
  border-top-left-radius: 0;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -webkit-border-bottom-left-radius: 0;
  -moz-border-radius-topleft: 0;
  -moz-border-radius-topright: 4px;
  -moz-border-radius-bottomright: 4px;
  -moz-border-radius-bottomleft: 0;
  padding: 0 60px 0 30px; }
  #projButtonPrev span {
    right: 20px;
    background: url(../images/sprite_sheet.png) no-repeat;
    background-position: -325px -166px; }

#projButtonNext {
  right: 0;
  -webkit-transform: translate(190px, 0);
  -moz-transform: translate(190px, 0);
  -o-transform: translate(190px, 0);
  transform: translate(190px, 0);
  border-top-left-radius: 4px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 4px;
  -webkit-border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 4px;
  padding: 0 30px 0 60px; }
  #projButtonNext span {
    left: 20px;
    background: url(../images/sprite_sheet.png) no-repeat;
    background-position: -338px -166px; }

section#aboutCaravan {
  background: #e5e5e5;
  text-align: center; }
  section#aboutCaravan .profile + .profile {
    margin-left: 24px; }
  section#aboutCaravan .profile {
    float: left;
    width: 304px; }
  section#aboutCaravan img {
    border-radius: 1000px;
    -webkit-border-radius: 1000px;
    -moz-border-radius: 1000px;
    margin-bottom: 50px; }
  section#aboutCaravan .name {
    font-size: 16pt;
    font-weight: 600;
    letter-spacing: .1em;
    margin-bottom: 30px; }

section#referral {
  background: #acc9c7; }
  section#referral p {
    font-size: 16pt;
    letter-spacing: .15em;
    text-transform: uppercase;
    text-align: center;
    color: #5a6d69;
    margin-bottom: 40px; }
  section#referral .button {
    background: #5a6d69; }
  section#referral a.button:hover {
    background: #73908a; }
  section#referral span {
    position: relative;
    width: 13px;
    height: 17px;
    background-position: -375px -140px;
    top: 3px; }

section#socialFooter {
  background: #acc9c7;
  text-align: center; }
  section#socialFooter a + a {
    margin-left: 70px; }
  section#socialFooter .twitter, section#socialFooter .facebook, section#socialFooter .vimeo, section#socialFooter .pintrest, section#socialFooter .email, section#socialFooter .instagram {
    display: inline-block;
    position: relative;
    width: 70px;
    height: 70px;
    background: url(../images/sprite_sheet.png) no-repeat;
    text-indent: -9999px; }
  section#socialFooter span {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: url(../images/sprite_sheet.png) no-repeat;
    opacity: 0;
    -webkit-transition: all 0.2s 0s ease;
    -moz-transition: all 0.2s 0s ease;
    -o-transition: all 0.2s 0s ease;
    transition: all 0.2s 0s ease; }
  section#socialFooter span:hover {
    opacity: 1; }
  section#socialFooter .twitter {
    background-position: -210px -70px; }
    section#socialFooter .twitter span {
      background-position: -210px 0px; }
  section#socialFooter .facebook {
    background-position: -70px -70px; }
    section#socialFooter .facebook span {
      background-position: -70px 0px; }
  section#socialFooter .vimeo {
    background-position: -280px -70px; }
    section#socialFooter .vimeo span {
      background-position: -280px 0px; }
  section#socialFooter .email {
    background-position: -350px -70px; }
    section#socialFooter .email span {
      background-position: -350px 0px; }

section#footer {
  background: #e5e5e5;
  padding: 22px 0;
  text-align: center;
  text-transform: uppercase;
  font-size: 8pt;
  letter-spacing: .2em; }
